/*! Place your custom styles here */
.logogit{
    color: darkslategray ;
}
.logogit :hover{
    color: black;
}
.mylogo{
    font-size: 5rem; 
}
.linkCV{
    text-decoration: none;
    font-size: 2rem;
}
.bg-logo{
    background-size: 90rem;
    background-image: url(../img/newlogo.png);
    background-repeat: no-repeat;
    background-position: center;
}
